.container {
    margin: 0 auto;
    width: 600px;
    height: 605px;
    border: solid 2px;
    background-color: rgb(128, 75, 165);
}

.casa {
    width: 200px;
    height: 100%;
    border-right: solid 2px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
}

.linha {
    height: 200px;
    border-bottom: solid 2px;
    text-align: center;
    font-size: 150px;
    color: black;
}

#botao {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    border: 2px solid #eee;
    border-radius: 6px;
    background-color: rgb(128, 75, 165);
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.botao {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    text-align: center;
   padding: 15px 20px;
}